.DS_Store
bulk-data/
staticfiles/
venv/
.pytest_cache/
.idea/
.coverage
coverage.json
bootstrap-theme-maker/
media/
lightsail-credentials/
logs/
__pycache__/
.env
*.egg-info/
.tox
experiments/
data/
.vscode/
metagenerator/
*.json
credentials/
htmlcov/
scripts_arsenal/
dist/
build/
.eggs/*
.mypy_cache/
pre-commit.sh
backup_data/